
   
            <div class="list-group">
                <a href="/abouts" class="list-group-item visitor" style="background-color: #15a589;">
                    <h3 class="pull-right"> 
                    <i class="fa fa-user"></i>
                    </h3>
                    <h4 class="list-group-item-heading">
                        About</h4>
                    <p class="list-group-item-text">
                         Add You Info</p>
                </a><a href="/addresses" class="list-group-item visitor" style="background-color: #18bc9c;">
                    <h3 class="pull-right">
                         <i class="fa fa-comments-o"></i>
                    </h3>
                    <h4 class="list-group-item-heading">
                        Address</h4>
                    <p class="list-group-item-text">
                        Add You Address</p>
                </a>
            </div>    
            <div class="list-group">

                <a href="https://login.secureserver.net/" class="list-group-item visitor" style="background-color: #15a589;">
                    <h3 class="pull-right">
                         <i class="fa fa-envelope-o"></i>
                    </h3>
                    <h4 class="list-group-item-heading ">                    
                        Mail</h4>
                    <p class="list-group-item-text">
                        Corporate Webmail</p>
                </a>
                <a href="/user/me/settings" class="list-group-item visitor" style="background-color: #18bc9c;">
                        <h3 class="pull-right">
                            <i class="fa fa-bullhorn"></i>
                        </h3>
                        <h4 class="list-group-item-heading">
                            Notifications Settings</h4>
                        <p class="list-group-item-text">
                            Take Control.</p>
                    </a>
             </div>
                    
                
             <div class="list-group">
    
                       <a href="/filedepot" class="list-group-item visitor" style="background-color: #15a589;">
                    <h3 class="pull-right">
                        <i class="fa fa-file-text-o"></i>
                    </h3>
                    <h4 class="list-group-item-heading ">
                        Documents</h4>
                    <p class="list-group-item-text">
                        Where files are.</p>
                   </a><a href="/livwell-media" class="list-group-item visitor" style="background-color: #18bc9c;">
                        <h3 class="pull-right">
                            <i class="fa fa-globe"></i>
                        </h3>
                        <h4 class="list-group-item-heading ">
                            Media</h4>
                        <p class="list-group-item-text">
                            All eyes on us.</p>
                    </a>
            </div>
