<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-sm-12">
    <label  class="col-sm-2 control-label">Name :</label>
    <div class="col-sm-7">
    <%= f.text_field :name, class: "form-control"%>
    <br>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <label  class="col-sm-2 control-label">Address Info :</label>
    <div class="col-sm-7">
    <%= f.text_area :address, class: "form-control", rows: 3 %>
    <br>
    </div>
  </div>
   <div class="form-group col-sm-12">
    <label  class="col-sm-2 control-label">City :</label>
    <div class="col-sm-7">
    <%= f.text_field :city, class: "form-control"%>
    <br>
    </div>
  </div> <div class="form-group col-sm-12">
    <label  class="col-sm-2 control-label">State :</label>
    <div class="col-sm-7">
    <%= f.text_field :state, class: "form-control"%>
    <br>
    </div>
  </div> <div class="form-group col-sm-12">
    <label  class="col-sm-2 control-label">Zip Code :</label>
    <div class="col-sm-7">
    <%= f.text_field :zipcode, class: "form-control"%>
    <br>
    </div>
  </div> <div class="form-group col-sm-12">
    <label  class="col-sm-2 control-label">Mobile No :</label>
    <div class="col-sm-7">
    <%= f.text_field :mobileno, class: "form-control"%>
    <br>
    </div>
  </div> <div class="form-group col-sm-12">
    <label  class="col-sm-2 control-label">Landline No :</label>
    <div class="col-sm-7">
    <%= f.text_field :landlineno, class: "form-control"%>
    <br>
    </div>
  </div> <div class="form-group col-sm-12">
    <label  class="col-sm-2 control-label">Email Id :</label>
    <div class="col-sm-7">
    <%= f.text_field :emailid, class: "form-control"%>
    <br>
    </div>
  </div> <div class="form-group col-sm-12">
    <label  class="col-sm-2 control-label">Website Url :</label>
    <div class="col-sm-7">
    <%= f.text_field :website, class: "form-control"%>
    <br>
    </div>
  </div>



   <div class="form-group">
   <div class="col-sm-6 pull-right">
         <%= f.submit class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>
