<!DOCTYPE html>
<html>
<head>
  <title>DreamProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	 .col-centered{
       margin: auto; max-width: 300px;
    }
  </style>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FindWayToRun.com&nbsp;&nbsp;&nbsp;&nbsp;Admin Panal</a>
    </div>

    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
       <% if user_signed_in? %>
        <li class="active"><a href="/dashboard">Dashboard </a></li>
     <!--    <li><a href="#">About Us</a></li>
         <li><a href="#">Address</a></li> -->
        <% end %>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
     <!--  <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                  <li style="color: #b4bf1f;bottom: -21px;">Logged in as <%= current_user.email %>.</li>
                  <li><%= link_to 'Account', edit_user_registration_path, :class => 'btnsl ' %></li> |
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btnsl '  %></li>
                <% else %>
                  <li><%= link_to "Register New User ", new_user_registration_path, :class => 'btnsl '  %></li> |
                  <li><%= link_to "Log in", new_user_session_path, :class => 'btnsl '  %></li>
                <% end %>
      </ul>
    </div>
  </div>
</nav>
           

<br>
<div class="container">
	  		<%= yield %>
</div>
  	



</body>
</html>
